body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	background-color: #93acca;
	padding: 0px;
	margin-top: 18px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

div, p, ul, h2, h3, h4, h5, form, img {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#topPan {
	height: 190px;
	width: 779px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ACC7E2;
	position: relative;
	background-image: url(../images/head_banner.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#topPan ul {
	position: absolute;
	height: 30px;
	width: 486px;
	left: 226px;
	top: 160px;
}
#topPan ul li {
	float: left;
	height: 30px;
	width: 81px;
}
#topPan ul li a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #003463;
	text-align: center;
	height: 30px;
	width: 81px;
	display:block;
}
#topPan ul li a:hover {
	background-color: #ACC7E2;
	
}
#bodyPan {
	width: 779px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	padding-top: 18px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
#leftPan p {
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#leftPan h2 {
	font-size: 26px;
	line-height:26px;
	color:#FFF;
	height:26px;
}
#leftBlock {
	width: 460px;
	float:left;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#leftBlock h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 40px;
	color: #003463;
	height: 40px;
	width: auto;
}
#leftLink {
	float: right;
	height: 19px;
	width: 200px;
	margin-top: 10px;
}
#leftLink ul li {
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	float: left;
	height: 19px;
}
#leftLink ul li a {
	color: #FFF;
	text-decoration: none;
	background-image: url(../images/arrow1.gif);
	background-repeat: no-repeat;
	background-position: 100px 0px;
	height: 19px;
	width: 55px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#leftLink ul li a:hover {
	color: #FFF;
	text-decoration: underline;
	background-color: #93ACCA;
	background-image: url(../images/arrow2.gif);
	background-repeat: no-repeat;
	background-position: 100px 0px;
}
#rightPan {
	float: left;
	width: 209px;
	padding-top: 20px;
}
#rightPan #form1 {
	color: #FFF;
	background-color: #003463;
	height: 138px;
	width: 209px;
}
#rightPan #form1 h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	line-height: 36px;
	background-image: url(../images/member-bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 36px;
	width: 189px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#rightPan #form1 label {
	font-size: 13px;
	line-height: 18px;
	display: block;
	float:left;
	height: 18px;
	width: 66px;
	margin-top: 9px;
	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 21px;
}
#rightPan #form1 input {
	display: block;
	padding: 0px;
	float: left;
	height: 18px;
	width: 100px;
	margin-top: 9px;
	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#rightPan #form1 .button {
	font-size: 12px;
	line-height: 14px;
	color: #FFF;
	background-color: #132D64;
	background-image: url(../images/botton.gif);
	background-repeat: no-repeat;
	background-position: 100px 3px;
	display: block;
	float: left;
	height: 14px;
	width: 150px;
	margin-top: 9px;
	margin-right: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#footerPan {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	background-color: #003463;
	height: 107px;
	width: 779px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
	clear: both;
}
#footerPan ul {
	background-color: #003463;


	
	position: absolute;
	height: 30px;
	width: 486px;
	left: 286px;

}

#footerPan ul li{
	float: left;

}
#footerPan ul li a {
	color: #FFF;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#footerPan ul li a:hover {
	text-decoration: underline;
}
#footerPan p {
	font-size: 12px;
	color: #FFF;
	position: absolute;
	width: 414px;
	left: 289px;
	top: 47px;
}
